<ActionBar title="รายละเอียด" class="bg w"></ActionBar>
<StackLayout>
    <GridLayout columns="*" rows="15, 15, 10">
        <label row="0" col="0" text=""></label>
        <label row="2" col="0" text=""></label>
        <label row="1" col="0" class = "Cloud-LightTitle black" [text] = "infoName"></label>
    </GridLayout>
        <TextView class = "Cloud-LightTin" [text] = "dataInfo[i].dataText" editable= "false"></TextView>
    </StackLayout>
<!-- <StackLayout>
    <label class = "Cloud-LightTitle black" [text] = "info.name"></label>
    <TextView class = "Cloud-LightTin" [text] = "dataInfo[i].dataText" editable= "false"></TextView>
</StackLayout> -->