<RadSideDrawer tkExampleTitle tkToggleNavButton showOverNavigation="true" drawerContentSize="320">
<StackLayout tkDrawerContent>
         <StackLayout class="bg">
                 <GridLayout columns="10,90,10, *" rows="20, 25, 25, 25,25, 20" width="100%">
                 <label row="0" col="0" class = "Cloud-Light" text="" style="color: white;"></label>
                 <Image row="1" col="1" rowSpan="4" src="~/images/logo app.png" ></Image>
                 <label row="1" col="3" class = "Cloud-Light" [text]="hospitalnumber" style="color: white;"></label>
                 <label row="2" col="3" class = "Cloud-Light" [text]="nameAndsurname" style="color: white;"></label>
                 <label row="3" col="3" class = "Cloud-Light" [text]="cid" style="color: white;"></label>
                 <label row="4" col="3" class = "Cloud-Light" [text]="gender" style="color: white;"></label>
                 <label row="5" col="3" text=""></label>
                 <label row="5" col="2" text=""></label>
                </GridLayout>
                         
         </StackLayout>
         <StackLayout>
         <ListView [items]="menu" (setupItemView)="onSetupItemView($event)" (itemTap)="onItemTap($event)">
                 <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                         <StackLayout [class.odd]="odd" [class.even]="even">
                         <GridLayout columns="5, 40, *" rows="33, 10">
                         <Label row="0" col="0" text=""></Label>
                         <Label row="0" col="1" class="mdi" [text]="item.icon"></Label>
                         <Label row="0" col="2" class = "Cloud-Light textMargin" [text]='item.name'></Label>
                         </GridLayout>              
                         </StackLayout>
                 </ng-template>
         </ListView>
         </StackLayout>
        </StackLayout>   
 
 </RadSideDrawer> 